body {
  font-family: 'Poppins', sans-serif;
  background-color: #1a1a1b;
  color: #fff;
}

.lgn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
}

.lgn-box {
  background-color: #2c2c2d;
  border: 1px solid #444;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 350px;
  text-align: center;
  border-radius: 10px;
}

.lgn-heading {
  color: #fff;
  margin-bottom: 30px;
}

.lgn-form {
  margin-top: 20px;
}

.lgn-label {
  display: block;
  margin-bottom: 8px;
  color: #aaa;
}

.lgn-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.lgn-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 17px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
}

.lgn-btn:hover {
  background-color: #2980b9;
}

.lgn-link {
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}

.lgn-link a {
  color: #0079d3;
  text-decoration: none;
}

.lgn-link a:hover {
  text-decoration: underline;
}
