.blogs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-item {
    background-color: #2c2c2d;
    border: 1px solid #444;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

.blog-title {
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.blog-preview {
    color: #aaa;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.read-more-link {
    color: #3498db;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.read-more-link:hover {
    color: #2980b9;
}


/* blog-page css */

.blog-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.blog-page-box {
    background-color: #2c2c2d;
    border: 1px solid #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 800px;
}

.blog-page-title {
    color: #3498db;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.blog-page-divider {
    border: 1px solid #444;
    margin: 10px 0;
}

.blog-page-body {
    color: #ccc;
    font-size: 16px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}