* {
    box-sizing: border-box;
    padding: 0;
}

body{
    padding-top: 100px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 25px 15px 25px;
    background-color: #2c2c2d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}



.logo {
    margin-right: auto;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a,
.logo {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover, .logo:hover {
    color: #3498db;
}
